<?xml version="1.0"?>
<configuration>
  <system.web>
	  <authorization>
		  <deny users="?" />
		  <!-- Interdire l'accès aux utilisateurs non authentifiés -->
		  <allow roles="admin" />
		  <!-- Autoriser uniquement les utilisateurs avec le rôle Admin -->
	  </authorization>

  </system.web>
</configuration>
